@use "../node_modules/bootstrap/scss/bootstrap" as *;

body {
  font-family: 'Arial', sans-serif;
  background-color: $white;
  color: $gray-900;
}

.navbar-brand {
  font-weight: bold;
}

.product-card {
  transition: transform 0.2s;
  
  &:hover {
    transform: translateY(-5px);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $gray-900 !important;
    color: $white !important;
  }
  
  .navbar {
    background-color: #3498db !important;
  }
  
  .card {
    background-color: $gray-800;
    color: $white;
    border-color: $gray-700;
  }
  
  h4 {
    color: $white;
  }
}

@include media-breakpoint-down(sm) {
  body {
    padding: 0 10px;
  }
  
  .navbar-brand {
    font-size: 1.1rem;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }
  
  #barcodeInput,
  #scanBtn,
  #searchBtn {
    width: 100%;
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  h4 {
    font-size: 1rem;
  }
}
.nutri-eco-img {
  width: 100px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}

.eco-score-letter {
  font-weight: bold;
  margin-right: 5px;
}

.product-card img.img-fluid {
  max-height: 200px;
  object-fit: contain;
}